<% include partials/header %>


	<main>
			<h4 style="text-align:center;">You will be redirected back to the Joke page momentarily...</h4>


			<img id="laughing-horses-img" src="/laughing_horses.jpg" alt="Some laughing horses">


			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
	</main>


	<script>
		//Programatically redirect:
		//After 2 seconds go back to the Home page.
	  setTimeout(() => { window.location = '/'; }, 2500);
	</script>


<% include partials/footer %>
